<section class="blog section" id="blog">
  <div class="container blog__container">
    <h2 class="blog__title title">BLOG</h2>
    <div class="slider">
      <div class="slider__wrapper">
        <div class="slider__gallery">
          <ul class="slider__block">
            <li>
              <picture>
                <source
                  srcset="
                    ./images/blog-1-mobile.webp    1x,
                    ./images/blog-1-mobile@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/blog-1-mobile.jpg    1x,
                    ./images/blog-1-mobile@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/blog-1-tablet.webp    1x,
                    ./images/blog-1-tablet@2x.webp 2x
                  "
                  media="(max-width: 1199px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/blog-1-tablet.jpg    1x,
                    ./images/blog-1-tablet@2x.jpg 2x
                  "
                  media="(max-width: 1199px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/blog-1-desktop.webp    1x,
                    ./images/blog-1-desktop@2x.webp 2x
                  "
                  media="(max-width: 1600px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/blog-1-desktop.jpg    1x,
                    ./images/blog-1-desktop@2x.jpg 2x
                  "
                  media="(max-width: 1600px)"
                  type="image/jpeg"
                />
                <img src="./images/blog-1-desktop.jpg" alt="flower" />
              </picture>
            </li>
            <li>
              <picture>
                <source
                  srcset="
                    ./images/blog-2-mobile.webp    1x,
                    ./images/blog-2-mobile@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/blog-2-mobile.jpg    1x,
                    ./images/blog-2-mobile@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/blog-2-tablet.webp    1x,
                    ./images/blog-2-tablet@2x.webp 2x
                  "
                  media="(max-width: 1199px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/blog-2-tablet.jpg    1x,
                    ./images/blog-2-tablet@2x.jpg 2x
                  "
                  media="(max-width: 1199px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/blog-2-desktop.webp    1x,
                    ./images/blog-2-desktop@2x.webp 2x
                  "
                  media="(max-width: 1600px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/blog-2-desktop.jpg    1x,
                    ./images/blog-2-desktop@2x.jpg 2x
                  "
                  media="(max-width: 1600px)"
                  type="image/jpeg"
                />
                <img src="./images/blog-2-desktop.jpg" alt="flower" />
              </picture>
            </li>
            <li>
              <picture>
                <source
                  srcset="
                    ./images/blog-3-mobile.webp    1x,
                    ./images/blog-3-mobile@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/blog-3-mobile.jpg    1x,
                    ./images/blog-3-mobile@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/blog-3-tablet.webp    1x,
                    ./images/blog-3-tablet@2x.webp 2x
                  "
                  media="(max-width: 1199px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/blog-3-tablet.jpg    1x,
                    ./images/blog-3-tablet@2x.jpg 2x
                  "
                  media="(max-width: 1199px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/blog-3-desktop.webp    1x,
                    ./images/blog-3-desktop@2x.webp 2x
                  "
                  media="(max-width: 1600px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/blog-3-desktop.jpg    1x,
                    ./images/blog-3-desktop@2x.jpg 2x
                  "
                  media="(max-width: 1600px)"
                  type="image/jpeg"
                />
                <img src="./images/blog-3-desktop.jpg" alt="flower" />
              </picture>
            </li>
          </ul>
          <div class="slider__button slider__button--prev">
            <svg class="slider__button--next-white slider__button--size">
              <use href="./images/icons.svg#icon-slider-prev-white"></use>
            </svg>
            <svg class="slider__button--next-black slider__button--size">
              <use href="./images/icons.svg#icon-slider-prev-black"></use>
            </svg>
          </div>
          <div class="slider__button slider__button--next">
            <svg class="slider__button--next-white slider__button--size">
              <use href="./images/icons.svg#icon-slider-next-white"></use>
            </svg>
            <svg class="slider__button--next-black slider__button--size">
              <use href="./images/icons.svg#icon-slider-next-black"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="blog__content container">
      <p class="blog__text">Follow to our newsletter</p>
      <button type="button" class="blog__button" data-modal-2-open>
        Subscribe
      </button>
    </div>
    <!-- </div> -->
    <!-- BACKDROP -->
    <div class="blog__backdrop is-hidden" data-modal-blog>
      <div class="blog__window">
        <button class="blog__btn-close" data-modal-2-close>
          <svg width="12" height="12">
            <use href="./images/icons.svg#modal-close"></use>
          </svg>
        </button>
        <picture>
          <source
            srcset="
              ./images/blog-modal-mobile.webp    1x,
              ./images/blog-modal-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/blog-modal-mobile.jpg    1x,
              ./images/blog-modal-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/blog-modal-tablet.webp    1x,
              ./images/blog-modal-tablet@2x.webp 2x
            "
            media="(max-width: 1199px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/blog-modal-tablet.jpg    1x,
              ./images/blog-modal-tablet@2x.jpg 2x
            "
            media="(max-width: 1199px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/blog-modal-desktop.webp    1x,
              ./images/blog-modal-desktop@2x.webp 2x
            "
            media="(max-width: 1600px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/blog-modal-desktop.jpg    1x,
              ./images/blog-modal-desktop@2x.jpg 2x
            "
            media="(max-width: 1600px)"
            type="image/jpeg"
          />
          <img
            src="./images/blog-modal-desktop.jpg"
            alt="flower"
            class="blog-form__image"
          />
        </picture>
        <div class="blog-form__wrapper">
          <h3 class="blog-form__title">Follow to our newsletter</h3>
          <p class="blog-form__text">
            Be the first to get exclusive offers and the latest news on our
            product directly in your box.
          </p>
          <label class="blog-form__label">
            Email
            <input
              type="email"
              class="blog-form__input"
              placeholder="Your email"
            />
          </label>
          <button class="blog-form__btn" data-modal-2-open>Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</section>
