<section class="delivery section">
  <div class="container">
    <h2 class="delivery__title title">DELIVERY</h2>
    <div class="delivery__deskr">
      <ol class="delivery__list">
        <li class="delivery__item texts">
          Choose your bouquet and make an order on website
        </li>
        <li class="delivery__item texts">
          Wait for the call to clarify the details of the order. You can pay
          online or to the courier
        </li>
        <li class="delivery__item texts">
          Wait for the delivery at the selected time or pick up the order from
          the store
        </li>
        <li class="delivery__item texts">
          Make someone happy or enjoy yourself
        </li>
      </ol>
    </div>
  </div>
  <div class="delivery__pic">
    <img
      class="delivery__img"
      srcset="
        ./images/delivery-mobile.jpg      320w,
        ./images/delivery-tablet.jpg      768w,
        ./images/delivery-desktop.jpg    1280w,
        ./images/delivery-mobile@2x.jpg   640w,
        ./images/delivery-tablet@2x.jpg  1536w,
        ./images/delivery-desktop@2x.jpg 2560w
      "
      sizes="(min-width: 1200px) 1280px, (min-width: 768px) 768px, (min-width: 480px) 480px, 100vw"
      src="./images/delivery-mobile.webp"
      alt="Кольорові квіти"
      width="480"
    />
  </div>
</section>
