<section class="delivery section">
  <div class="container">
    <div class="delivery__deskr">
      <h2 class="delivery__title title">DELIVERY</h2>
      <ol class="delivery__list">
        <li class="delivery__item texts">
          Choose your bouquet and make an order on website
        </li>
        <li class="delivery__item texts">
          Wait for the call to clarify the details of the order. You can pay
          online or to the courier
        </li>
        <li class="delivery__item texts">
          Wait for the delivery at the selected time or pick up the order from
          the store
        </li>
        <li class="delivery__item texts">
          Make someone happy or enjoy yourself
        </li>
      </ol>
    </div>
  </div>
  <div class="delivery__pic">
    <img
      class="delivery__img"
      srcset="
        ./images/delivery-mobile.jpg    1x,
        ./images/delivery-mobile@2x.jpg 2x
      "
      src="./images/delivery-mobile.webp"
      alt="верстка сайту на планшеті та комп'ютері"
      width="320"
    />
  </div>
</section>
