<footer>
  <div class="footer container">
    <!--Logo-->
    <div class="box footer__box">
      <a
        class="footer__link link"
        href="./index.html"
        aria-label="Anemone logo"
      >
        <svg class="footer__logo" width="72" height="57">
          <use href="./images/icons.svg#logo-mobile"></use>
        </svg>
      </a>
    </div>
    <!--Logo-->
    <!--Navigation-->
    <div class="footer__nav box">
      <h2 class="footer__sub">Navigation</h2>
      <ul class="footer__nav-list footer-texts list">
        <li class="footer__nav-item">
          <a class="footer__nav-link link" href="#anemone">Anemone</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link link" href="#about-us">About us</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link link" href="#store">Store</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link link" href="#delivery">Delivery</a>
        </li>
      </ul>
    </div>
    <!--Navigation-->
    <!--Opening times-->
    <div class="footer__time box">
      <h2 class="footer__sub">Opening times</h2>
      <p class="footer-texts">
        Every day<br />
        9:00 - 22:00
      </p>
    </div>
    <!--Opening times-->
    <!--Contacts-->
    <div class="footer__contacts box">
      <h2 class="footer__sub">Contacts</h2>
      <address class="footer__address">
        <ul class="address__list footer-texts list">
          <li class="address__item">
            <a href="tel:+380631234567" class="address__link link"
              >+38 063 123 45 67</a
            >
          </li>
          <li class="address__item">
            <a
              href="mailto:anemonestudio@example.com"
              class="address__link link"
              >anemonestudio<span class="address__span">@example.com</span></a
            >
          </li>
          <li class="address__item">
            <a
              href="https://goo.gl/maps/rJTNonVtNb5pCMy88"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="address__link link"
              >Reitarska Street, 11
              <span class="address__span-map">Kyiv, Ukraine</span></a
            >
          </li>
        </ul>
      </address>
    </div>
    <!--Contacts-->

    <!--Social Networks-->
    <div class="footer__social box">
      <ul class="social__list list">
        <li class="social__item">
          <a
            class="social__link link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="facebook"
          >
            <svg class="social__icon" width="28" height="28">
              <use href="./images/icons.svg#social-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            class="social__link link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="instagram"
          >
            <svg class="social__icon" width="28" height="28">
              <use href="./images/icons.svg#social-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!--Social Networks-->
  </div>
</footer>
