<!-- Modal window -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="store__btn-close" data-modal-close>
      <svg class="btn-close__icon" width="12" height="12">
        <use href="./images/icons.svg#modal-close"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <h3 class="store-form__title">Contact us</h3>
      <form class="store-form">
        <p class="store-form__text">
          If you have any additional questions or you want to clarify something
          before you make an order please fill in your contact details. We will
          call you back.
        </p>
        <div class="store-form__label-wrapper">
          <label class="store-form__label"
            >Name
            <input
              type="text"
              class="store-form__input"
              required
              pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
              title="Username must be two words separated by space."
              placeholder="Your name"
            />
          </label>
          <label class="store-form__label"
            >Email
            <input
              type="email"
              class="store-form__input"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,5}"
              placeholder="Your email"
              required
            />
          </label>
        </div>
        <button class="store-form__btn" data-action="send">Send</button>
      </form>
    </div>
    <div class="store__window store__window--ordered visually-hidden">
      <div class="store__icon-wrapper">
        <svg class="store__icon" width="188" height="142">
          <use href="./images/icons.svg#icon-thanks"></use>
        </svg>
      </div>
      <h3 class="store-form__title">Thank you!</h3>
      <p class="store-form__text">
        We have received your contact details and will reach you soon.
      </p>
      <button class="store-form__btn store-form__btn--ordered" data-modal-close>
        Continue
      </button>
    </div>
    <svg class="spinner visually-hidden" viewBox="0 0 50 50">
      <circle
        class="path"
        cx="25"
        cy="25"
        r="20"
        fill="none"
        stroke-width="5"
      ></circle>
    </svg>
  </div>
</div>
