<section class="section store" id="store">
  <div class="container">
    <div class="title__wrapper">
      <h2 class="title">store</h2>
      <span class="title__line"></span>
    </div>
    <ul class="store__list list">
      <li class="store__item">
        <img
          srcset="
            ./images/store-3-desktop.jpg      600w,
            ./images/store-3-desktop.webp     600w,
            ./images/store-3-desktop@2x.jpg  1200w,
            ./images/store-3-desktop@2x.webp 1200w,
            ./images/store-3-tablet.jpg       344w,
            ./images/store-3-tablet.webp      344w,
            ./images/store-3-tablet@2x.jpg    688w,
            ./images/store-3-tablet@2x.webp   688w,
            ./images/store-3-mobile.jpg       136w,
            ./images/store-3-mobile.webp      136w,
            ./images/store-3-mobile@2x.jpg    272w,
            ./images/store-3-mobile@2x.webp   272w
          "
          src="./images/photo-1-desktop.jpg"
          alt="Compliments"
          sizes="50vw"
        />
        <div class="store__title-wrapper">
          <h3 class="store__title">compliments</h3>
          <span class="store__title-line"></span>
        </div>
        <p class="store__text">from $15</p>
      </li>
      <li class="store__item">
        <img
          srcset="
            ./images/store-1-desktop.jpg      600w,
            ./images/store-1-desktop.webp     600w,
            ./images/store-1-desktop@2x.jpg  1200w,
            ./images/store-1-desktop@2x.webp 1200w,
            ./images/store-1-tablet.jpg       344w,
            ./images/store-1-tablet.webp      344w,
            ./images/store-1-tablet@2x.jpg    688w,
            ./images/store-1-tablet@2x.webp   688w,
            ./images/store-1-mobile.jpg       136w,
            ./images/store-1-mobile.webp      136w,
            ./images/store-1-mobile@2x.jpg    272w,
            ./images/store-1-mobile@2x.webp   272w
          "
          src="./images/photo-1-desktop.jpg"
          alt="Bouquets size S"
          sizes="50vw"
        />
        <div class="store__title-wrapper">
          <h3 class="store__title">bouquets size S</h3>
          <span class="store__title-line"></span>
        </div>
        <p class="store__text">from $25</p>
      </li>
      <li class="store__item">
        <img
          srcset="
            ./images/store-2-desktop.jpg      600w,
            ./images/store-2-desktop.webp     600w,
            ./images/store-2-desktop@2x.jpg  1200w,
            ./images/store-2-desktop@2x.webp 1200w,
            ./images/store-2-tablet.jpg       344w,
            ./images/store-2-tablet.webp      344w,
            ./images/store-2-tablet@2x.jpg    688w,
            ./images/store-2-tablet@2x.webp   688w,
            ./images/store-2-mobile.jpg       136w,
            ./images/store-2-mobile.webp      136w,
            ./images/store-2-mobile@2x.jpg    272w,
            ./images/store-2-mobile@2x.webp   272w
          "
          src="./images/photo-1-desktop.jpg"
          alt="bouquets size M"
          sizes="50vw"
        />
        <div class="store__title-wrapper">
          <h3 class="store__title">bouquets size M</h3>
          <span class="store__title-line"></span>
        </div>
        <p class="store__text">from $45</p>
      </li>
      <li class="store__item">
        <img
          srcset="
            ./images/store-4-desktop.jpg      600w,
            ./images/store-4-desktop.webp     600w,
            ./images/store-4-desktop@2x.jpg  1200w,
            ./images/store-4-desktop@2x.webp 1200w,
            ./images/store-4-tablet.jpg       344w,
            ./images/store-4-tablet.webp      344w,
            ./images/store-4-tablet@2x.jpg    688w,
            ./images/store-4-tablet@2x.webp   688w,
            ./images/store-4-mobile.jpg       136w,
            ./images/store-4-mobile.webp      136w,
            ./images/store-4-mobile@2x.jpg    272w,
            ./images/store-4-mobile@2x.webp   272w
          "
          src="./images/photo-1-desktop.jpg"
          alt="bouquets size L"
          sizes="50vw"
        />
        <div class="store__title-wrapper">
          <h3 class="store__title">bouquets size L</h3>
          <span class="store__title-line"></span>
        </div>
        <p class="store__text">from $60</p>
      </li>
    </ul>
    <button data-modal-open type="submit" class="button">Order flowers</button>
  </div>
</section>
