.section {
  padding-bottom: 30px;
  padding-top: 30px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 479.98px;

  @media screen and (min-width: $tablet) {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1280px;
  }
}
