.delivery__title {
    display: flex;
    align-items: center;
    gap: 14px;

    &::after {
    content: "";
    min-width: 148px;
    height: 0px;
    background-color: $title-text-color;
    border: 1px solid #000000;
    }
}

.delivery__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 15px;
    margin-bottom: 26px;
    gap: 14px;
   
}

// .delivery__item::marker {
//     content: "";
//     width: 40px;
//     height: 40px;
//     border: 1px solid #000000;
// }