.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 100;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(246, 246, 248, 0.3) 20%,
    transparent
  );
  background-position: top -120px left;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
}

.header__logo {
  width: 45px;
  height: 35px;

  @media screen and (min-width: $tablet) {
    width: 72px;
    height: 57px;
  }
}

.header-container {
  padding: 16px 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $tablet) {
    padding: 24px 24px 0 24px;
  }

  @media screen and (min-width: $tablet) {
    padding: 28px 24px 0 24px;
  }
}
.nav {
  display: none;

  @media screen and (min-width: $tablet) {
    display: inline-block;
  }

  &-list {
    display: flex;
    gap: 24px;

    @media screen and (min-width: $desktop) {
      gap: 48px;
    }
  }

  &-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: $primary-text-color;

    &:hover,
    &:focus,
    &:active {
      color: $btn-color;
    }
  }
}

.header {
  &__images {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__phone {
    margin-right: 14px;
    @media screen and (min-width: $tablet) {
      margin-right: 0px;
    }
  }
}

.header-phone:hover,
.header-phone:focus {
  fill: $btn-color;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
