.hero {
    padding-top: 95px;
    padding-bottom: 136px;

    @media screen and (min-width: 768px) {
        padding-top: 119px;
        padding-bottom: 194px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 149px;
        padding-bottom: 193px;
    }
}

.hero__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 1280px) {
        justify-content: space-between;
    }

}

.hero__title {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 52px;
    line-height: 1.20;
    text-align: center;
    text-transform: uppercase;
    top: 148px;

    @media screen and (min-width: 768px) {
        font-size: 120px;
        transform: translate(-50%, 63%);
        top: 400px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 160px;
        transform: translate(-50%, 48%);


        &::after {
            content: '';

            position: absolute;
            top: 20px;
            right: 20px;
            display: block;
            width: 58px;
            height: 8px;
            background-color: #0e0e0e;
        }
    }
}

.hero__titles {
    width: 46px;

    margin-right: 14px;
    margin-left: 11px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;

    color: #000000;

    @media screen and (min-width: 768px) {
        width: 76px;

        margin-right: 40px;
        margin-left: 49px;

        font-size: 24px;
    }

    @media screen and (min-width: 1280px) {
        width: 101px;
        margin-left: 210px;
        margin-right: 0px;

        font-size: 32px;
    }
}

.hero__image {
    width: 145px;
    height: 274px;
    object-fit: cover;
    object-position: center;

    @media screen and (min-width: 768px) {
        width: 390px;
        height: 636px;
    }
}

.hero__images {
    object-fit: cover;
    object-position: center;
}

.hero__btn {
    background-color: inherit;
    text-decoration: none;
    border: none;
}

.hero__svg {
    margin-left: 8px;
    background-color: inherit;
    border: none;
    padding: 0;
    width: 64px;
    height: 76px;
    left: 224px;

    background-image: url(../images/icons.svg#button-main-mobile.svg);

    @media screen and (min-width: 768px) {
        margin-left: 20px;
        width: 145px;
        height: 150px;

        background-image: url(../images/icons.svg#button-main-tablet.svg);
    }

    @media screen and (min-width: 1280px) {
        margin-right: 145px;
        margin-left: 0px;
        width: 166px;
        height: 166px;

        background-image: url(../images/icons.svg#button-main-desktop.svg);
    }
}